<!DOCTYPE html>
<html>
	<head>
		<title>MealDiary</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	</head>

	<body>
		<%= render 'layouts/user_header' %>
		<%= yield %>
		<footer class="mt-4">
			<p class="text-center">
				<%= link_to 'お問い合わせ', new_inquiry_path %>
			</p>
			<p class="text-right mr-4">
				Have a nice day ☺ 
			</p>	
		</footer>
	</body>
</html>
