<!DOCTYPE html>
<html>
	<head>
		<title>MealDiary</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    	<%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
	</head>

	<body>
		<%= render 'layouts/user_header' %>
		<%= yield %>
		<footer class="fixed-bottom mt-4">
			<p class="text-right mb-2 mr-4">
				<%= link_to new_inquiry_path do %>
					<i class="far fa-envelope"></i>Contact
				<% end %>
			</p>
		</footer>
	</body>
</html>
